{% extends "base.html" %}
{% block content %}





<!-- Home -->

<section class="home container">


    <div class="row">

        <div class="col-lg-6 py-5 pl-5">

            <div class="logo">
            <img class="img-fluid" src="static/ccovi.png" alt="">
            </div>

        </div>

        <div class="col-lg-6 my-auto">
            <div class="row">

                <div class="home-content offset-lg-1 col-lg-10">

                    <h1 class="pd-3">A COVID-19 Bot</h1>
                    <p class="pd-3"> Covi is a AI bot here to help you fight Coronavirus JAJDFHFSH jdjghdhg lorem ksdgjhsdgjhsd
                    fnsdgksfjklgdljfg sdkgsdgj j jdfhdfh jyoskdf jsdgsdgh wrjgwjrg kjwrgjgjng dfsdfjsdfdjgdjf jh jehekelgelkgj lfgkeflgj</p>
                    <button class="btn btn-lg btn-outline-secondary">Launch Covi</button>
                    <button class="btn btn-lg btn-secondary">About</button>




                </div>
            </div>

        </div>
    </div>



</section>


<section class="cdc py-5 mt-5">

    <div class="container text-center width-50">

        <h2 class="py-3">Check out COVI on GitHub</h2>
        <div class="mx-auto heading-line">
            <p class="py-3">Check out COVI on GitHub.</p>

        </div>

        <button class="btn btn-lg btn-primary"><a href="https://www.github.com">Learn More</a></button>


    </div>


</section>



{% endblock content %}